.btn-plus,
.btn-minus {
    background-color: #142a35;
    height: 100%;
    border: none;
}

.btn-plus:hover,
.btn-minus:hover {
    background-color: burlywood !important;
    border: none;
}

.cart-item {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
}

.cart-item .productImg {
    border-radius: 8px;
}

.cart-item .productName {
    font-size: 18px;
    font-weight: bold;
    color: #142a35;
    margin-bottom: 5px;
}

.cart-item .productCategory {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
}

.cart-item .productDiscount {
    font-size: 14px;
    color: #dc3545;
    /* Red color for discounts */
    margin-bottom: 5px;
}

.cart-item .data-price {
    font-size: 16px;
    color: #142a35;
    margin-bottom: 10px;
}

.cart-item .item-total-price {
    font-size: 18px;
    color: #142a35;
    font-weight: bold;
}

.cart-item .btn {
    background-color: #142a35;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cart-item .btn:hover {
    background-color: burlywood;
}


.cart-item .form-outline {
    margin: 0;
}

.cart-item input[type="number"].quantity {
    text-align: center;
    width: 60px;
}

#total-price,
#total-amount {
    font-size: 18px;
    font-weight: bold;
    color: #142a35;
}

#discount {
    font-size: 14px;
    color: #6c757d;
}

#checkoutAlert {
    font-size: 16px;
    color: #dc3545;
}

#orderSuccessMessage {
    font-size: 18px;
    color: #28a745;
    /* Green color for success */
}

.fa-trash {
    padding-right: 5px;
}

#goToCheckout,
#submitOrder {
    font-size: 16px;
    background-color: #142a35 !important;
    color: white;
    border-radius: 8px;
    border: none;
}

#goToCheckout a {
    color: white;
    text-decoration: none;
}

#goToCheckout:hover {
    background-color: burlywood;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
}

.form-controls {
    padding: 5px;
    border-radius: 10%;
    border: 1px solid gray;
    padding-left: 0px;
    padding-right: 0px;
}
input[type="number"].form-controls.quantity:focus {
    outline: none;
    box-shadow: none;
}


.cartCard {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    margin-bottom: 20px;

}

.card-header {
    background-color: #e9ebef;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    font-size: 1.25rem;
    font-weight: bold;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;

}

.form-check-input:checked {
    background-color: #142a35;
    border-color: #142a35;
    box-shadow: none;
}

.form-check-input:active {
    box-shadow: none;
}


#cardInformationSection {
    display: none;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-label {
    color: #143a25;
}



/* Input Styles */
.form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

/* Placeholder Styles */
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
    font-size: 15px;
}

/* Input Focus Styles */
.form-control:focus {
    border-color: #142a35;
    box-shadow: none;
}

/* Card Info Section Styles */
#cardInformationSection, #shippingInfo {
    background-color: #f8f9fa;
}

/* Credit Card Image Styles */
.card-method img {
    margin-left: 10px;
    width: 45px;
}

/* Responsive Columns */
@media (min-width: 576px) {
    .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .form-row .col-md-6, .form-row .col-md-4 {
        padding-right: 15px;
        padding-left: 15px;
    }
}

#exampleModalCenter input,
#exampleModalCenter label,
#exampleModalCenter select,
#exampleModalCenter option
{
    font-size: 15px !important;
}

#exampleModalCenter h5,
.cartCard h5 {
    font-size: 18px;
    font-weight: bold;
}
