* {
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

/*categories button
.dropdown-toggle{
    color: rgb(168, 167, 167);
    text-decoration: none;
    padding-bottom: none;
    margin-bottom: none;
}*/
nav,
.offcanvas {
    background-color: #142a35;
}

.btn-close {
    background-color: whitesmoke;
}

.cart-button {
    background-color: burlywood;
    color: #142a35;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.cart-button:hover {
    background-color: #444f55;
}

.navbar-toggler {
    border: none;
    font-size: 1.3rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: burlywood
}

.dropdown-menu {
    background-color: #21353f;
}

.dropdown-item {
    color: #a6a5a5;
    padding-left: 20px;
}

/*Page views */
.page-section {
    display: none;
}

.page-section.active {
    display: block;
}

.container {
    padding-top: 150px;
}

/*SEARCH   searchForm, searchButton, searchInput*/

#searchForm {
    background-color: rgb(185, 181, 181);
    border-radius: 20px;
    border: none;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: none;
    padding-bottom: none;
    max-width: 300px;
}

#searchButton,
#searchInput {
    background-color: transparent;
    border: none;
    padding-top: none;
    padding-bottom: none;
    outline-width: 0;
    box-shadow: none;
}

#searchInput:active,
#searchInput:focus {
    outline: none;
    box-shadow: none;
}

.fa-shopping-cart {
    margin-right: 4px;
}

/*
.dropdown-item.active{
    background-color: #142a35;
}*/

.dropdown-toggle:hover {
    color: burlywood;
}

.navlink:active {
    background-color: #142a35;
}

/*custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#142a35, #2a3e48);
}
/*
.textTitle {
    margin-bottom: 20px;
    color: #142a35;
}
*/
.footer {
    background-color: #142a35;
    color: rgb(119, 145, 155) !important;
    text-align: center;
}

.nav-link.active{
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }



/* ----------------------------- */
/* HOME PAGE */
@font-face {
    font-family: 'FreightBigPro', serif;
    src: url('../fonts/FreightBigProMedium-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }
  
  @font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaCyrillicBook.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }
  
  .title-style{
    font-family: "FreightBigPro", serif;
    text-decoration: none;
    color: #142A35;
    font-size: 32px;
  }
  
  .text-style{
    font-family: "Futura PT", sans-serif;
    text-decoration: none;
    color: #142A35; 
    font-size: 18px;
    position: relative; 
    transition: color 0.5s ease; 
  }
  
  .text-style::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: #142A35; 
    transition: height 0.3s ease, background-color 0.3s ease; 
  }
  
  .text-style:hover {
    color: burlywood; 
  }
  
  .text-style:hover::after {
    height: 4px; 
    background-color: burlywood; 
  }
  
  .image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
  }
  
  .zoom-image {
    transition: transform 0.3s ease;
    transform-origin: center center; 
    width: 100%;
    height: auto; 
  }
  
  .zoom-image:hover {
    transform: scale(1.1);
  }
  
  .saleLinkPage {
    background-color: #F6EFE6;
    display: flex;
    align-items: center; 
  }
  
  .carousel-inner img {
    width: 100vw; 
    height: auto; 
  }
  
  .carousel {
    width: 100vw; 
    margin-left: calc(-50vw + 50%); 
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #142A35;
  }

/* ----------------------------- */
/* END HOME PAGE */